<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionario de Coches</title>
    <!-- FAVICON-->
    <link rel="icon" type="image/png" href="/images/LogoCars.png">
     <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Lightbox2-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <!--RENDIMIENTO DE CARGA-->
    <link rel="prefetch" href="/images/car1.png">
    <link rel="prefetch" href="/images/car2.png">
    <link rel="prefetch" href="/images/car3.png">
    <link rel="prefetch" href="/images/car4.png">
    <link rel="prefetch" href="/images/car5.png">
    <link rel="prefetch" href="/images/car6.png">
    <link rel="prefetch" href="/images/car7.png">
    <link rel="prefetch" href="/images/car8.png">
    <link rel="prefetch" href="/images/car9.png">
    <link rel="prefetch" href="/images/car10.png">
    <link rel="prefetch" href="/images/car11.png">
    <link rel="prefetch" href="/images/car12.png">
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <div class="logo">
            <img src="/images/LogoCars.png" alt="Logo del Concesionario" width="965" height="1032">
        </div>
        <!--BARRA DE NAVEGACION-->
        <nav>
            <ul class="nav-links">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/galeria.html" class="active">Galeria</a></li>                
                <li><a href="/views/presupuesto.html">Presupuesto</a></li>                
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

        <!-- Sección Galería -->
    <main>
        <section id="galeria">
        <h2>&#x1F4F8; Nuestra Galería</h2>
        <div class="gallery-container">
            <a href="/images/car1.png" data-lightbox="coches" data-title="McLaren 750s" class="gallery-item">
                <img src="/images/car1.png" alt="Coche 1" width="1968" height="1310">
            </a>
            <a href="/images/car2.png" data-lightbox="coches" data-title="Chevrolet Camaro SS" class="gallery-item">
                <img src="/images/car2.png" alt="Coche 2" width="1703" height="1134">
            </a>
            <a href="/images/car3.png" data-lightbox="coches" data-title="Mercedes Amg" class="gallery-item">
                <img src="/images/car3.png" alt="Coche 3" width="1704" height="1131">
            </a>
            <a href="/images/car4.png" data-lightbox="coches" data-title="Audi Rs7" class="gallery-item">
                <img src="/images/car4.png" alt="Coche 4" width="845" height="1140">
            </a>
            <a href="/images/car5.png" data-lightbox="coches" data-title="Corvette" class="gallery-item">
                <img src="/images/car5.png" alt="Coche 5" width="755" height="1094">
            </a>
            <a href="/images/car6.png" data-lightbox="coches" data-title="Bmw M4" class="gallery-item">
                <img src="/images/car6.png" alt="Coche 6" width="911" height="1135">
            </a>
            <a href="/images/car7.png" data-lightbox="coches" data-title="Porsche 911" class="gallery-item">
                <img src="/images/car7.png" alt="Coche 7" width="909" height="1136">
            </a>
            <a href="/images/car8.png" data-lightbox="coches" data-title="Skoda Jaguar" class="gallery-item">
                <img src="/images/car8.png" alt="Coche 8" width="909" height="1138">
            </a>
            <a href="/images/car9.png" data-lightbox="coches" data-title="hyundai i30" class="gallery-item">
                <img src="/images/car9.png" alt="Coche 9" width="907" height="1139">
            </a>
            <a href="/images/car10.png" data-lightbox="coches" data-title="Golf mk7" class="gallery-item">
                <img src="/images/car10.png" alt="Coche 10" width="1419" height="1003">
            </a>
            <a href="/images/car11.png" data-lightbox="coches" data-title="Mini Cooper" class="gallery-item">
                <img src="/images/car11.png" alt="Coche 11" width="2021" height="1137">
            </a>
            <a href="/images/car12.png" data-lightbox="coches" data-title="Renault Megane" class="gallery-item">
                <img src="/images/car12.png" alt="Coche 12" width="885" height="1109">
            </a>
        </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="pie">
        <div class="footer-content">
            <!-- Dirección de la empresa -->
            <div class="footer-address">
                <h3>Visítanos</h3>
                <p>Plaza de España, 4<br>
                Zaragoza, España<br>
                CP 50001</p>
            </div>
            <!-- Redes Sociales -->
            <div class="social-icons">
                <h3>Siguenos en:</h3>
                <a href="#" target="_blank"><img src="/images/facebook_2504903.png" alt="Facebook"  width="512" height="512"></a>
                <a href="#" target="_blank"><img src="/images/twitter_5968830.png" alt="X (Twitter)"  width="512" height="512"></a>
                <a href="#" target="_blank"><img src="/images/instagram_2111463.png" alt="Instagram"  width="512" height="512"></a>
                <a href="#" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn"  width="512" height="512"></a>
            </div>
        </div>
        <!-- Aviso Legal -->
        <p>&copy; 2025 Concesionario de Coches. Todos los derechos reservados.</p>
    </footer>
          

    <script src="/js/shared.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        //GALERIASCRIPT
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'positionFromTop': 100,
            'fadeDuration': 300,
            'imageFadeDuration': 300,
        });
    </script>
</body>
